<!--
  Write a template for a SINGLE otherWorkplace
  Each workplace has fields: _id, name, location, description
-->
<a href="#" class="gotoWorkplaceInfo" data-secret-id={{_id}} data-toggle="modal" data-target="#WorkplaceInfoModal">
	<div class="myWorkplace" data-secret-id={{_id}}>
		<p>{{name}} - {{location}}</p>
		<p>{{description}}</p>
	</div>
</a>
